body {
    background-color: rgb(255, 179, 102);
}

img {
    display: block;
    margin: auto;
    width: 20%;
}

 h {
    color: black;
    text-align: center;
    
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

